@model Lab14.Kind_sport

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>Kind_sport</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.Name_kind)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Name_kind)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.Group_kind)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.Group_kind)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { id = Model.id_kind }) |
    @Html.ActionLink("Back to List", "Index")
</p>
