@model IEnumerable<Lab14.Kind_sport>

@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
    <br></br>
    @Html.ActionLink("Ссылка на Sport_club", "Index", "Sport_club", new { area = "" }, new { @class = "navbar-brand" })
</p>
<table class="table">
    <tr>
        <th>
            @Html.DisplayNameFor(model => model.Name_kind)
        </th>
        <th>
            @Html.DisplayNameFor(model => model.Group_kind)
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr>
        <td>
            @Html.DisplayFor(modelItem => item.Name_kind)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Group_kind)
        </td>
        <td>
            @Html.ActionLink("Edit", "Edit", new { id=item.id_kind }) |
            @Html.ActionLink("Details", "Details", new { id=item.id_kind }) |
            @Html.ActionLink("Delete", "Delete", new { id=item.id_kind })
        </td>
    </tr>
}

</table>
